* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body.portfolio {
  background-color: chocolate;
}

body.about {
  background-color: rgb(168, 55, 55);
}

body.contacts {
  background-color: skyblue;
}
